<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils </h2>
      <ul class="list-group">
        <app-appareil [appareilName] = "appareilOne" [appareilStatut]="StatutOne" [appareilEtat]="EtatOne"></app-appareil>
        <app-appareil [appareilName] = "appareilTwo" [appareilStatut]="StatutTwo" [appareilEtat]="EtatTwo"></app-appareil>
        <app-appareil [appareilName] ="appareilThree" [appareilStatut]="StatutThree" [appareilEtat]="EtatThree"></app-appareil>
      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onAllumer()">Tout allumer</button>
    </div>
  </div>
</div>
